<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lincoln's Web Page</title>
  <style>
    body{
      background: url('http://media.giphy.com/media/OgJu4L2xHT2cU/giphy.gif') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .lincolnPage__header{
      margin-top: 2em;
      text-align: center;
    }
    .lincolnPage__lincolnPic{
      position: absolute;
      width: 20%;
      height: auto;
      left: 0;
      bottom: 0;
    }
    .lincolnPage__beePic{
      width: 5%;
      height: auto;
      position: absolute;
      bottom: 0;
    }
    .lincolnPage__beeButtonContainer{
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 10%;
    }
    .lincolnPage__beeButton {
      margin: 0 auto;
      -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
      -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
      box-shadow: 3px 4px 0px 0px #8a2a21;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
      background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
      background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
      background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
      background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
      background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
      background-color:#c62d1f;
      -moz-border-radius:18px;
      -webkit-border-radius:18px;
      border-radius:18px;
      border:1px solid #d02718;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:7px 25px;
      text-decoration:none;
      text-shadow:0px 1px 0px #810e05;
    }
    .lincolnPage__beeButton:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
      background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
      background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
      background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
      background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
      background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
      background-color:#f24437;
    }
    .lincolnPage__beeButton:active {
      position:relative;
      top:1px;
    }
  </style>
</head>
<body>
<div class="lincolnPage__header">
  <h1>LINCOLN IS AWESOME!</h1>
  <p>This is his web page.</p>
</div>
<div class="lincolnPage__beeButtonContainer">
  <button class="lincolnPage__beeButton" onclick="addBee()">
    Click For Bees
  </button>
</div>
<img class="lincolnPage__lincolnPic" src="./images/linc-head.png" alt="Lincoln Pic"/>
<script>
  var lincPic = document.querySelector('.lincolnPage__lincolnPic');
  var counter = 1;
  var threshold = 20;
  var initialWidth = 20;
  var speed = 140;
  var beeMult = 10;
  var bees = [];
  var reverse = false;

  setInterval(callAnimations, speed);

  function callAnimations(){
    animateBees();
    animateLincoln();
  }

  function animateBees(){
    if (bees.length < 1){ return; }

    bees.forEach(function(beePic){
      console.log(beePic);
      beePic.beeX = Math.ceil((Math.random() * beeMult) + beePic.beeX);
      beePic.beeY = Math.ceil(Math.random() + beePic.beeY);

      beePic.eImg.style.bottom = beePic.beeY;
      beePic.eImg.style.left = beePic.beeX;
    });
  }

  function animateLincoln(){
    var newWidth = initialWidth + counter;

    lincPic.style.width = newWidth + '%';

    if(counter >= threshold){
      reverse = true;
    }else if(counter <= 0){
      reverse = false;
    }

    counter = !reverse ? counter + 0.2 : counter - 0.2;
  }

  function addBee(){
    var img = document.createElement("img");
    img.src = "http://gif-favicon.com/images/insects/bee-insect-bug-transparent-background.gif-0400-10067.gif";
    img.className = 'lincolnPage__beePic';
    var body = document.querySelector("body");
    body.appendChild(img);


    bees.push({
      eImg: document.querySelector('.lincolnPage__beePic'),
      beeX: 1,
      beeY: 1
    });

    console.log(bees);
  }
</script>
</body>
</html>